@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  touch-action: none;
}

.score-board {
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.score-board-wrap {
  height: 100%;
}
.score-board-btn {
  position: absolute;
  z-index: 30;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  padding: 10px 20px;
}
.score-board-btn2 {
  position: absolute;
  z-index: 30;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  padding: 10px 20px;
}
.start-btn {
  position: relative;
  width: 50%;
  height: 15%;
  z-index: 30;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem !important;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 20px !important;
  overflow: hidden;
  color: white !important;
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.start-btn::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 450%;
  background-repeat: no-repeat;
  background-size: 120% 120%, 120% 120%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(45deg, red, red, red, orange, yellow, green, blue, indigo, violet, violet, violet);
  animation: rotate 4s linear infinite;
}
.start-btn::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 12px;
  top: 12px;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  background: #111;
  border-radius: 13px;
}

.item {
  display: flex;
  align-items: center;
}

.life-container {
  position: relative;
  width: 200px;
  height: 160px;
}
.life-container p {
  margin-top: 6.5em;
}

.life {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  color: grey;
  text-align: center;
}
.life-active {
  color: #e91e63;
}

.timer-container {
  position: relative;
  width: 160px;
  height: 160px;
}
.timer-container p {
  margin-top: -3.5em;
}

.timer-circle {
  transition: all 0.8s ease;
}

.timer-time {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  color: white;
  text-align: center;
}
.size {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5em;
  color: white;
  text-align: center;
}

.count-destroy {
  font-size: 2.5em;
  margin-left: 30px;
}

.pointer-item {
  position: absolute;
  z-index: 20;
}

.pointer {
  animation: pointer 0.25s linear infinite;
  animation-iteration-count: 1;
  transform-origin: 50% 50%
}

@keyframes pointer {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.clear-overlay-box {
  animation: clear-overlay-box 3s ease-out 0s infinite;
  animation-iteration-count: 1;
  align-items: center;
  top: 40%;
  color: #fff;
  display: flex;
  font-size: 50px;
  height: 250px;
  justify-content: center;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 25;
}

@keyframes clear-overlay-box {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.overlay-box {
  animation: overlay-box 3s ease-out 0s infinite;
  animation-iteration-count: 1;
  align-items: center;
  bottom: 250px;
  color: #fff;
  display: flex;
  font-size: 50px;
  height: 250px;
  justify-content: center;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 25;
}

@keyframes overlay-box {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
    transform: translateY(250px);
  }
}

.cat {
  position: absolute;
  animation: move-cat 5s infinite ease-in-out;
}

@keyframes move-cat {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(300px, 300px);
  }
  50% {
    transform: translate(270px, 30px);
  }
  75% {
    transform: translate(0px, 270px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.button {
  height: 3em;
  width: 20%;
  margin-top: 120px;
}